# Ignore the virtual environment folder
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore sensitive data files
.env

# Ignore media and static files (optional)
media/
staticfiles/

# Ignore IDE-specific files (optional)
.vscode/
.idea/
migrations
./migrations
./migrations/